<link rel="stylesheet" href="/css/user_profile.css" />

<main>
  <% if(locals.user && locals.user.id == profile_user.id){ %>

  <img
    class="uploaded-img"
    src="<%= profile_user.avatar %>"
    alt="<%= profile_user.name %>"
    width="100"
  />

  <h3 id="user-name">Name : <%= profile_user.name%></h3>
  <h3 id="user-email">Email : <%= profile_user.email%></h3>
  <h4 id="update-details">Update Details</h4>
  <form
    id="update-form"
    action="/users/update/<%= profile_user.id %>"
    enctype="multipart/form-data"
    method="POST"
  >
    <input
      type="text"
      name="name"
      id="users_name"
      placeholder="Your Name"
      value="<%= profile_user.name %>"
      required
    />
    <input
      type="email"
      name="email"
      id="users_email"
      placeholder="Your Email"
      value="<%= profile_user.email %>"
      required
    />
    <input
      type="file"
      class="submit"
      name="avatar"
      placeholder="Profile picture"
    />
    <input type="submit" class="submit" value="Update" />
  </form>

  <%}else{%>

  <img
    class="uploaded-img"
    src="<%= profile_user.avatar %>"
    alt="<%= profile_user.name %>"
    width="100"
  />

  <h3 id="user-name">Name : <%= profile_user.name%></h3>
  <h3 id="user-email">Email : <%= profile_user.email%></h3>

  <a href="/friends/toggle/?userID=<%=profile_user.id%>" id="friend-toggle">
    <h4></h4>
    <button id="friend-toggle-button">
      <% if (isFriend) {%> <%= "Remove Friend" %> <% } else {%> <%= "Add Friend"
      %> <% } %>
    </button>
  </a>
  <%} %>
</main>
